<h2>{{ tournamentName }}</h2>

<nav class="tournament-nav">
  <ul>
    <li><a [routerLink]="['upcoming-matches']" routerLinkActive="active">Upcoming Matches</a></li>
    <li><a [routerLink]="['teams']" routerLinkActive="active">Teams</a></li>
    <li><a [routerLink]="['players']" routerLinkActive="active">Players</a></li>
    <li><a [routerLink]="['matches']" routerLinkActive="active">Matches</a></li>
    <li><a [routerLink]="['standings']" routerLinkActive="active">Standings</a></li>
    <li><a [routerLink]="['group']" routerLinkActive="active">Group</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
