<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Yushen Tournament Management</span>
  <span class="spacer"></span>
  <span class="user-role">Role: {{ currentUserRole }}</span>
  <div class="spacer"></div>
</div>

<nav>
  <ul>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/tournaments">Tournaments</a></li>
    <li><a routerLink="/teams">Teams</a></li>
    <li><a routerLink="/players">Players</a></li>
    <li><a routerLink="/matches">Matches</a></li>
    <li *ngIf="authService.isAdmin()"><a routerLink="/admin">Admin Panel</a></li>
    <li *ngIf="!authService.currentUserValue" class="right-align"><a routerLink="/login">Login</a></li>
    <li *ngIf="authService.currentUserValue" class="right-align"><a (click)="logout()">Logout</a></li>
  </ul>
</nav>

<app-breadcrumb></app-breadcrumb>
<router-outlet></router-outlet>
